.topline {
    color: #fff;
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 700;
    text-align: center;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.app-btn {
    width: 200px;
    color: #fff;
    margin: 20px 10px;
    text-align: left;
    border-radius: 5px;
    text-decoration: none;
    font-family: "Lucida Grande", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}
.app-btn.blu {
    background-color: #101010;
    transition: background-color 0.25s linear;
}
.app-btn.blu:hover {
    background-color: #454545;
}
.app-btn i {
    width: 20%;
    text-align: center;
    font-size: 30px;
    margin-right: 7px;
}
.app-btn .big-txt {
    font-size: 20px;
    text-transform: capitalize;
}

@media screen and (max-width: 768px) {
    .app-btn {
        width: 140px;
        margin: 10px;
        font-size: 10px;
    }
    .app-btn .big-txt {
        font-size: 16px;
    }
}
