.main {
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    overflow-x: hidden;
}

.main_section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.details_section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex: 0.5;
}

.transactions_section {
    background-color: #fff;
    border-radius: 10px;
    height: 80vh;
    margin: 0 50px;
    flex: 0.5;
}

@media screen and (max-width: 768px) {
    .main {
        background: transparent;
    }
    .main_section  {
        flex-direction: column;
        display: block;
        padding: 0;
    }
    .transactions_section {
        display: block;
        border-radius: 0;
        padding: 0;
        height: 400px;
        background-color: transparent;
        margin: 0;
    }
}